<?xml version="1.0" encoding="utf-8"?>
<settings>
  <theme>
    <name>Basic</name>
    <predefined>true</predefined>
    <baseTheme>Basic</baseTheme>
    <baseVersion>1.1</baseVersion>
  </theme>
  <general>
    <showTopicAtStartup>false</showTopicAtStartup>
    <updateTitle>true</updateTitle>
  </general>
  <caption>
    <visible>true</visible>
    <logoImage></logoImage>
  </caption>
  <header>
    <visible>true</visible>
  </header>
  <topic>
    <relatedTopics>
      <icon>arrow-r</icon>
    </relatedTopics>
  </topic>
  <toc>
    <icons>
      <leaf>arrow-r</leaf>
      <collapsed>arrow-d</collapsed>
    </icons>      
  </toc>
  <search>
    <input>
      <visible>true</visible>
    </input>
    <buttons>
      <go>
        <id>c1searchButton</id>
        <icon>search</icon>
        <visible>true</visible>
      </go>
    </buttons>
  </search>
  <buttons>
    <toc>
      <id>c1contentsButton</id>
      <icon>custom-icon-1</icon>
      <iconpos>left</iconpos>
      <showLabel>true</showLabel>
      <visible>true</visible>
    </toc>
    <index>
      <id>c1indexButton</id>
      <icon>custom-icon-2</icon>
      <iconpos>left</iconpos>
      <showLabel>true</showLabel>
      <visible>true</visible>
    </index>
    <prev>
      <id>c1topicPreviousButton</id>
      <icon>arrow-l</icon>
      <iconpos>left</iconpos>
      <showLabel>true</showLabel>
      <visible>true</visible>
    </prev>
    <next>
      <id>c1topicNextButton</id>
      <icon>arrow-r</icon>
      <iconpos>right</iconpos>
      <showLabel>true</showLabel>
      <visible>true</visible>
    </next>
    <prevBottom>
      <id>c1topicBottomPreviousButton</id>
      <icon>arrow-l</icon>
      <iconpos>left</iconpos>
      <showLabel>true</showLabel>
      <visible>true</visible>
    </prevBottom>
    <nextBottom>
      <id>c1topicBottomNextButton</id>
      <icon>arrow-r</icon>
      <iconpos>right</iconpos>
      <showLabel>true</showLabel>
      <visible>true</visible>
    </nextBottom>
  </buttons>

</settings>