       <div class="content-wrapper">
       <div class="row" style=" margin-bottom:10px">
       
       <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 ">
       
       
       </div>



        </div>
        <div class="row footer-Hor-divider"></div>
        <br />

    <div class="row ">
    <div class="footer-content ">
    
   <ul>
   
 @*
   <li> Test Footer Link</li>
         <li> Test Footer Link</li>
            <li> Test Footer Link</li>
   
   *@
   </ul>
    </div>

    <div class=" footer-content footer-Ver-divider"></div>
 
      <div class="footer-content ">
    
     <ul>
   
  
     
 @*
   <li> Test Footer Link</li>
         <li> Test Footer Link</li>
            <li> Test Footer Link</li>
   
   *@

   
 
      
   </ul>
    </div>
    
       <div class=" footer-content footer-Ver-divider"></div>
 
      <div class="footer-content ">
    
     <ul>
   
  
   
 @*
   <li> Test Footer Link</li>
         <li> Test Footer Link</li>
            <li> Test Footer Link</li>
   
   *@
   
 
      
   </ul>
    </div>
       <div class=" footer-content footer-Ver-divider"></div>
 
      <div class="footer-content ">
    
     <ul>
   
  
   
 @*
   <li> Test Footer Link</li>
         <li> Test Footer Link</li>
            <li> Test Footer Link</li>
   
   *@

   
 
      
   </ul>
    </div>
       <div class=" footer-content footer-Ver-divider"></div>
 
      <div class="footer-content ">
    
     <ul>
   
  
   
    
 @*
   <li> Test Footer Link</li>
         <li> Test Footer Link</li>
            <li> Test Footer Link</li>
   
   *@

   
 
      
   </ul>
    </div>
    
    </div>
     
       
            <div class="float-left">
                <p>
                    &copy; @DateTime.Now.Year -@Resources.Resource.Copyright
                </p>
            </div>




        </div>