@{
    ViewBag.Title = @Resources.Resource.ViewReport;
}
 


<div class="container childcontent ">
<div id="main"  style="margin: 0px 0px 4px -6px ! important; width: 100% ! important;">
<object data="@Url.Content("~/AspNetForms/QuotationInquiryReport/QuotationReport.aspx")" style="height: 1250px; width: 100%;">     </object>
</div>
</div>