<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>

    <add key="DBManagementSystem" value="MSSQL" />
    <!-- for Offline-->
    <add key="DbSchemaName" value="PDXLATEST12" />
    <add key="DbServerName" value="10.142.33.179" />
    <add key="DbUserId" value="sa" />
    <add key="DbUserPassword" value="P@ssword123" />
    <add key="DBMaxPool" value="1000" />

  </appSettings>
  <system.serviceModel>
    <services>
      <!-- Service Login-->
      <service behaviorConfiguration="MyServiceBehavior" name="KMESSOService.Service1">
        <endpoint address="basic" binding="basicHttpBinding" contract="KMESSOService.IService1" bindingConfiguration="HttpBinding">
        </endpoint>
        <!--<endpoint address="secure" binding="basicHttpBinding"
                  contract="KMESSOService.IService1"
                  bindingConfiguration="HttpsBinding">
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>-->
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="HttpBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" openTimeout="00:12:00" closeTimeout="00:12:00" receiveTimeout="00:12:00" sendTimeout="00:12:00" transferMode="Streamed">
          <security mode="None"></security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>

        <!--<binding name="HttpsBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                 openTimeout="00:12:00" closeTimeout="00:12:00" receiveTimeout="00:12:00" sendTimeout="00:12:00"
                 transferMode="Streamed"
                 >
          <security mode="Transport"></security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>-->
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>

        <behavior name="MyServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <!-- To avoid disclosing httpsGetEnabled="true" metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <add value="Service1.svc" />
            </files>
        </defaultDocument>
  </system.webServer>
  
</configuration>
